Segmentation and Clustering Assignment -1
Import required libraries

In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

print('Libraries imported.')

Libraries imported.

Download Cananda Postal Details file in HTML format from WEB

In [4]:
!wget -q -O 'canada_postal_code.html' https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
print('Canada Post Code Data downloaded!')

Canada Post Code Data downloaded!

Import BeutifulSoup package bs4 for parsing HTML file

In [3]:
from bs4 import BeautifulSoup
print ("BeutifulSoup Imported")

BeutifulSoup Imported

In [ ]:
Open Canada postal code file and pass file handle to Beautiful Soup API

In [4]:
file_1 = open('canada_postal_code.html', "r")
canada_soup = BeautifulSoup(file_1, 'html.parser')

Get first table in HTML file, knowing first HTML table has all relevant data

In [5]:
 table = canada_soup.find_all('table')[0] # Grab the first table

Parse Table object and convert table row data into a DataFrame

In [6]:
suburb_table = pd.DataFrame()  
row_marker = 0
for row in table.find_all('tr'):
  column_marker = 0
  columns = row.find_all('td')
  for column in columns:
#            suburb_table.iloc[row_marker,column_marker] = column.get_text()
            suburb_table.set_value(row_marker, column_marker,column.get_text())
            column_marker +=1
  row_marker +=1  
suburb_table.columns = ['Postal Code', 'Borough', 'Neigbourhood']
suburb_table.head()

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

  Postal Code           Borough        Neigbourhood
1         M1A      Not assigned      Not assigned\n
2         M2A      Not assigned      Not assigned\n
3         M3A        North York         Parkwoods\n
4         M4A        North York  Victoria Village\n
5         M5A  Downtown Toronto      Harbourfront\n

Strip Last Constrol Character from Neigbourhoos column

In [7]:
suburb_table['Neigbourhood'] =   \
suburb_table['Neigbourhood'].map(lambda x: str(x)[0:-1])
suburb_table.head()

  Postal Code           Borough      Neigbourhood
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront

Remove rows for which Borough data is not available

In [8]:
suburb_table1= suburb_table.loc[suburb_table['Borough'] != 'Not assigned'] 
suburb_table1.head()

  Postal Code           Borough      Neigbourhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights

join all neigbourhood in same postal code and Borough, Seperate by a comma

In [9]:
suburb_table2=suburb_table1.groupby(['Postal Code', 'Borough'],as_index=False, sort=False).agg(', '.join)
suburb_table2.head()

  Postal Code           Borough                      Neigbourhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto         Harbourfront, Regent Park
3         M6A        North York  Lawrence Heights, Lawrence Manor
4         M7A      Queen's Park                      Not assigned

Finally replace non Assigned neigbourhood by Borough

In [10]:
import numpy as np
#cond  = "suburb_table2.Neigbourhood == 'Not assigned' "
suburb_table2['Neigbourhood'] = np.where(suburb_table2.Neigbourhood == 'Not assigned' \
,suburb_table2.Borough, suburb_table2.Neigbourhood )
suburb_table2.head()
#suburb_table2.shape

  Postal Code           Borough                      Neigbourhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto         Harbourfront, Regent Park
3         M6A        North York  Lawrence Heights, Lawrence Manor
4         M7A      Queen's Park                      Queen's Park

Print Shape

In [11]:
suburb_table2.shape

(103, 3)